@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@custom-variant dark (&:where(.dark, .dark *));


@theme {

    /*Fontes*/
    --font-texto-normal: 'Montserrat', sans-serif;

    --font-texto-normal-mobile: 'Inter', sans-serif;

    --font-link-mobile: 'Montserrat', sans-serif;

    --font-game: 'Pixelify Sans', sans-serif;

    --font-h1-mobile: 'Inter', sans-serif;

    

    /*Cores*/
    --color-fundo-tema-claro: #A8FFF6;
    --color-gradiente1-tema-claro: #A8FFF6;
    --color-gradiente2-tema-claro: #41FFEB;

    --color-fundo-tema-escuro: #061F1C;
    --color-gradiente1-tema-escuro: #36D9C8;
    --color-gradiente2-tema-escuro: #061F1C;

    --color-gradiente1-h1: #20A99B;
    --color-gradiente2-h1: #0D433D;

    


    --color-nav-claro: #1C1C1C;


    --color-texto-branco: #ffffff;
    --color-texto-azul: #36D9C8;
    --color-texto-ciano: #13675E;
    --color-texto-neon: #B1EDE6;
    --color-texto-escuro: #000000;

    --color-fundo-botao: #9BECE4; 
    --color-fundo-card: #C2C2C2;   
    --color-fundo-card2: #DFDFDF; 

    --color-gradiente-home: linear-gradient(to bottom, #13675E, #36D9C8);

    --color-gradiente-icons1: #7AE6DB;

    --color-gradiente-icons2: #2A837A;

    --color-menu-hamburguer: #1C1C1C;

    --color-dark-nav: #262626;

    --color-dark-background: #3b3b3b;
}